@collegeboard-software:registry=https://npm.pkg.github.com
@ce:registry=https://artifactory.collegeboard.org/api/npm/ce-npm-local/
registry=https://artifactory.collegeboard.org/api/npm/ce-npm-local/
registry=https://registry.npmjs.com/
